{{!-- <h1>Welcome to university</h1>

<form action="/data" method="get">
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <label for="college">college:</label><br>
  <input type="text" id="college" name="college" value=""><br><br>
  <input type="submit" value="Submit">
</form> --}}

<form action="/about" method="post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="email">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <input type="submit" value="Submit">
</form>