<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<tr>
    <form action =" " method="post">
     <td></td> type="text" id="id" id=" " value="{{id}}"><br>
     <td></td> type="text" id="name" id=" " value="{{name}}"><br>
     <td>type="button" id="update">update<br></td> 
     <td><button>Delete</button> </td> 
     <td><input type="submit"></td>
  </form>
</tr>

 
</body>
</html>